body{
    margin: 0px;
}

.header-container{
    width: 100%;
    margin: 0px;
    background-color: #221f20;
}

.header{
    text-align: center;
    padding: 20px;
    color: #f7c405;
    margin: 0px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu li{
    margin: 1em;
}

.image-container{
    display: flex;
    justify-content: center;
    margin: 1.8em 0em 2em;
}

.image-container img{
    border-radius: 7px;
    max-width: 90vw;
    min-width: 335px;
}

.rescue-button-container{
    display: flex;
    justify-content: center;
}

.rescue-button-container button{
    border: solid 1px;
    border-radius: 0.5rem;
    margin: 3.5em 0px 4.5em;
    padding: 1em 2.5em 1em 2em;
}

.rescue-button-container button:hover{
    background-color: #f7c405;
}

.text{
    margin-left: 10%;
}