body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: -1%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffd000;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #faeb1d;
}

.error {
    color: #FF5733;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.strength {
    display: none;
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.weak {
    color: #FF5733;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.medium {
    color: #FFA500;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.strong {
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
